
<div class="col-sm-4">

<figure class="figure">

<!--
<img src="https://getuikit.com/v2/docs/images/placeholder_600x400.svg"
class="figure-img img-fluid rounded">-->

<%= image_tag image.picture.thumb.url, class: 'figure-img img-fluid rounded' %>

<figcaption class="figure-caption">

<%= image.description %>

<%= link_to 'Editar', edit_image_path(image) %>

<%= link_to 'Eliminar', image, method: :delete, data:{

confirm: 'Esta seguro que decea eliminar esta imagen.'

} %>

</figcaption>

</figure>

</div>